.button {
  display: block;
  width: 115px;
  height: 50px;
  background: #58b99b;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  color: white !important;
  font-weight: bold;
  line-height: 25px;
}
@media (min-width: 992px) {
  .navbar li {
    margin-left: 1em;
    margin-right: 1em;
  }
  .nav-spacing {
    padding-left: 100px;
  }
}
