<nav class="navbar navbar-expand-lg navbar-light bg-white">
    <div class="container-fluid shadow-sm p-3 mb-5 bg-white rounded">
        <a class="navbar-brand" href="#">
            <img src="\assets\logo.jpg" alt="" width="70" height="50">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" href="#">
                        <p class="fw-bold">About Us</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#">
                        <p class="fw-bold">Pricing</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#">
                        <p class="fw-bold">Services</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#">
                        <p class="fw-bold">Contact Us</p>
                    </a>
                </li>
                <li class="nav-item nav-spacing">
                    <a class="nav-link active" href="#">
                        <p class="fw-bold">Login</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active button" href="#">
                        <p class="fw-bold">Signup</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>