<footer class="text-center text-lg-start bg-theme-color">
    <div class="container p-4">
        <div class="row">
            <div class="col">
                <img src="\assets\logo.jpg" alt="" width="100" height="95">
            </div>
            <div class="col">
                <ul class="list-group list-group-horizontal footer-links">
                    <li class="list-group-item border-0 bg-theme-color">About Us</li>
                    <li class="list-group-item border-0 bg-theme-color">Pricing</li>
                    <li class="list-group-item border-0 bg-theme-color">Services</li>
                </ul>
            </div>
            <div class="col footer-links">
                Contact Us <p class="fw-bold">+91 7637721878</p>
                <p class="fw-bold">contactus@gmail.com</p>
            </div>
        </div>
    </div>
</footer>